
<footer>
    <div class="container-fluid base-space">
      <div class="base-para one">
        <p class="text-white">© 2023 by Ponto Pet. Proudly created by Oshanedesign</p>
        <ul class="base-ul">
            <li><i class="fa-brands fa-facebook-f social text-white"></i></li>
            <li><i class="fa-brands fa-instagram social text-white"></i></li>
            <li><i class="fa-brands fa-twitter social text-white"></i></li>
            <li><i class="fa-brands fa-youtube social text-white"></i></li>
        </ul>
      </div>
      
     <div class="base-para two">
     <p class="text-white">876-394-8855 | 209-317-5114</p>
     <p class="text-white">ponto@pontopet.com</p>
     <p class="text-white">500 Jago St, Jamaica, Kgn 94158</p>
     </div>
    
     <div>

</footer>
</html>