
<footer>
    <div class="container-fluid">
      <div>
        <p>this is the footer</p>
      </div>
      <div>
          <ul>
              <li><i class="fa-brands fa-facebook-f"></i></li>
              <li><i class="fa-brands fa-instagram"></i></li>
              <li><i class="fa-brands fa-twitter"></i></li>
              <li><i class="fa-brands fa-youtube"></i></li>
          </ul>
      </div>
    <div>

    </div>
    </div>
</footer>
</html>