<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse nav-items" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-dark" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>