<!-- Image and text -->
<nav class="navbar navbar-light bg-white topbar">
  <i class="fa-solid fa-dog dog-icon text-info"></i> 
  <h1 class="navbar-brand text-info ponto">
      Ponto Pet 
    </h1>
    <p class="navbar-brand text-info ponto-p">Pet Store</p>
  </nav>